body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

canvas {
  border: 2px solid #fff;
  background-color: #111;
  display: block;
  margin: 0 auto;
}

#scoreDisplay {
  font-size: 24px;
  margin: 10px;
  color: #fff;
}

#restartBtn {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
}

#nextFruitContainer {
  color: white;
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
}
#nextFruitCanvas {
  background-color: #111;
  border: 2px solid #fff;
  margin-top: 5px;
}

